*
    margin: 0
    padding: 0
    font-family: 'Raleway', sans-serif;

.header
    background-image: url(../img/background_header.png)
    background-repeat: no-repeat
    background-size: 100% 100%
    min-height: 600px

.header .menu
    position: relative
    display: block
    font-size: 14px
    font-weight: 700
    margin-left: 50%
    
.header .menu ul
    display: flex
    flex-wrap: wrap
    align-items: center
    min-height: 100px
    list-style-type: none
    z-index: 2
    
    
.header .menu ul li
    margin-right: 40px

.header .menu ul :last-child
    margin-right: 0

.logotip
    position: relative
    display: inline-block
    top: 64px
    left: 15%
    
.header .logo 
    margin-right: 5px
    width: 108px
    height: 27px
    background-image: url(../img/logo.png)
    background-repeat: no-repeat
    display: inline-block
    //margin-top: 50px

.header a
    text-decoration: none
    color: white

.slider
    display: block
    min-height: 400px
    text-align: center
    position: relative

.learnmore
    position: absolute
    left: 0
    right: 0
    bottom: 130px
    
.slider_info
    color: white
    position: absolute
    left: 0
    right: 0
    top: 100px
    
.slider_info h2
    font-size: 35px
    font-weight: 100
    line-height: 60px

.slider_info h5
    font-size: 15px
    font-weight: 300
    
.LeftRight
    position: absolute
    width: 80%
    display: flex
    left: 10%
    justify-content: space-between
    top: 40%
    font-size: 3em

.LeftRight .prev
    background: url(../img/left_arrow.png)
    height: 53px
    width: 27px
    
.LeftRight .next
    background: url(../img/right_arrow.png)
    height: 53px
    width: 27px
    
.act_s
    background-image: url(../img/deactive_slide.png)
    display: inline-block
    width: 10px
    height: 10px
    background-size: 100% 100%
    background-repeat: no-repeat
    
    &.active
      background-image: url(../img/active_slide.png)

.block
    height: 100%
    width: 80%
    position: absolute
    left: 10%
    opacity: 0
    transition: opacity 2s
    
    &.active
      opacity: 1

.block-3
    background-image: url(../img/slide3.jpg)
    background-size: 100% 100%
    background-repeat: no-repeat
    
.slider_menu
    position: absolute
    left: 0
    right: 0
    bottom: 80px

.slider_menu .check
    
.slider .button
    font-size: 14px
    font-weight: 500
    border-radius: 20px
    border-width: 2px
    border-style: solid
    padding: 10px 40px
    background-color: rgba(0,0,0,0)

.title
    display: flex
    flex-direction: column
    flex-wrap: wrap
    align-items: center
    justify-content: flex-end
    background-color: rgba(255, 255, 255, 0)
    
.title h1
    font-family: Raleway
    color:  #576671
    font-size: 60px
    font-weight: 200
    line-height: 96px
    
.title h4
    font-family: ProximaNova
    color:  #87949e
    font-size: 18px
    font-weight: 400
    line-height: 100px

.title img
    width: 30px
    
.info
    display: flex
    flex-wrap: wrap
    justify-content: space-around
    align-items: flex-end

.info .raket
    background-image: url("../img/raket.png")
    background-repeat: no-repeat
    height: 146px
    background-position: center
    
.info .raket:hover
    background-image: url("../img/raket_na.png")

.info .atom
    background-image: url("../img/atom_na.png")
    background-repeat: no-repeat
    height: 146px
    background-position: center

.info .atom:hover
    background-image: url("../img/atom2.png")
    
.info .activity
    background-image: url("../img/activity_na.png")
    background-repeat: no-repeat
    height: 146px
    background-position: center

.info .activity:hover
    background-image: url("../img/activity2.png")

.info .study
    background-image: url("../img/study_na.png")
    background-repeat: no-repeat
    height: 146px
    background-position: center
    
.info .study:hover
    background-image: url("../img/study2.png")

.s
    width: 220px
    text-align: center

.info h3
    font-family: Raleway;
    color:  #000000;
    font-size: 26px;
    font-weight: 400;
    line-height: 80px;
    
.info h5
    font-family: ProximaNova;
    color:  #87949e;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    
.about a, button_lorem
    display: inline-block
    border-radius: 20px
    background-color: #17daa3
    padding: 10px 40px
    color: white
    
.lorem
    text-align: center
    margin: 80px 0
    
.article
    display: flex
    flex-wrap: wrap
    background-color: rgb(249, 249, 250)
    align-items: center
    padding-bottom: 50px
    

.tit:first-child
    margin: auto
    
.clause 
    width: 50%
    text-align: left
    
.clause h2
    font-family: Raleway
    color:  #576671
    font-size: 30px
    font-weight: 200
    line-height: 96px

.clause p
    font-family: ProximaNova
    color:  #87949e
    font-size: 16px
    font-weight: 400
    line-height: 26px
    width: 70%
    
.clause a
    display: inline-block
    text-align: center
    border-radius: 20px
    background-color: #17daa3
    padding: 10px 40px
    margin-top: 50px
    color: white

.clause2 
    width: 50%
    text-align: left
    
.clause2 h2
    margin-left: 25%
    font-family: Raleway
    color:  #576671
    font-size: 30px
    font-weight: 200
    line-height: 96px

.clause2 p
    margin-left: 25%
    font-family: ProximaNova
    color:  #87949e
    font-size: 16px
    font-weight: 400
    line-height: 26px
    width: 70%
    
.clause2 a
    margin-left: 25%
    display: inline-block
    text-align: center
    border-radius: 20px
    background-color: #17daa3
    padding: 10px 40px
    margin-top: 50px
    color: white
    
    
.photo
    width: 400px
    
.articWhite
    display: flex
    flex-wrap: wrap
    background-color: white
    align-items: center
    padding-bottom: 50px

.black     
    background-image: url(../img/Work.png)
    background-repeat: no-repeat
    background-size: 100% 100%
    min-height: 500px

.slider_black
    display: block
    min-height: 400px
    text-align: center
    position: relative

.face
    margin: auto
    position: absolute
    left: 0
    right: 0
    top: 120px

.slider_black p
    margin: auto
    position: absolute
    left: 0
    right: 0
    bottom: 140px
    color:  #ffffff;
    font-size: 20px;
    font-weight: 300;

.slider_black h6
    margin: auto
    position: absolute
    left: 0
    right: 0
    bottom: 100px
    color:  #ffffff;
    font-size: 12px;
    font-weight: 200;
    
.slider_black::before
    content: ""
    background: url(../img/left_arrow.png)
    display: block
    height: 53px
    width: 27px
    position: absolute
    left: 5%
    top: calc(50% - 53px)
    
.slider_black::after
    content: ""
    background: url(../img/right_arrow.png)
    display: block
    height: 53px
    width: 27px
    position: absolute
    right: 5%
    top: calc(50% - 53px)
    
.slide_menu
    position: absolute
    left: 0
    right: 0
    bottom: 30px

.services
    background-color: rgba(249, 249, 250, 255)

.about_service
    display: flex
    flex-wrap: wrap
    justify-content: center
    align-items: center
    padding-bottom: 100px
    padding-top: 80px


.about_service .menu
    width: 500px

.fon     
    background-repeat: no-repeat
    background-position: center left
    
.ss1
    background-image: url("../img/portfolio.png")

.ss2
    background-image: url("../img/design.png")
    
.ss3
    background-image: url("../img/branding.png")
    
.ss4
    background-image: url("../img/developing.png")
    
.about_service h3
    font-family: Raleway
    color:  #576671
    font-size: 32px
    font-weight: 200
    line-height: 96px
    text-align: left
    padding-left: 70px
    
.about_service p
    font-family: ProximaNova
    color:  #87949e
    font-size: 16px
    font-weight: 400
    line-height: 36px
    text-align: left
    margin-left: 70px
    
.team
    background-color: rgba(255, 255, 255, 0)

.team .personal
    display: flex
    flex-flow: row wrap
    align-content: flex-end
    padding-top: 50px

.persona:nth-child(2n)
    width: 20%
    min-height: 100px
    padding-top: 80px
    background-color: rgb(239, 239, 239)
    
.persona:nth-child(2n+1)
    width: 20%
    min-height: 100px
    padding-top: 80px
    background-color: rgb(228, 228, 228)
    
.persona:hover
    background-color: rgb(45, 221, 172)
    
.persona p
    font-family: Raleway
    color:  #ffffff
    font-size: 35px
    text-align: center

.pricing
    background-color: rgb(249, 249, 250)

.purches_info
    display: flex
    flex-wrap: wrap
    justify-content: center
    align-items: center
    padding-bottom: 70px
    
    
.purches_info h1
    font-family: Raleway
    color:  #17daa3
    font-size: 52px
    font-weight: 200
    line-height: 96px
    text-align: left
    
.purches_info h6    
    font-family: ProximaNova
    color:  #87949e
    font-size: 14px
    font-weight: 400
    line-height: 48px
    text-align: left

.purches_info p
    font-family: ProximaNova
    color:  #87949e
    font-size: 18px
    font-weight: 400
    line-height: 36px
    text-align: left
    
.purch
    width: 17%
    min-width: 210px
    background-color: rgb(255, 255, 255)
    margin-right: 20px
    border-radius: 5px

.purch_wrapper
    padding: 0 20px
        
.px1
    background: #c0c0c0
    height: 1px
    margin: 25px auto
    width: 100%
    
.buy
    display: block
    background-color: #17daa3
    font-weight: 500
    padding: 10px 0
    border-radius: 0 0 5px 5px
    
.buy span
    padding-left: 20px
    font-family: ProximaNova
    color:  #ffffff
    font-size: 14px
    letter-spacing: 5px;

.buy .buying
    padding-right: 20px
    
.articleMap
    display: flex
    flex-wrap: wrap
    background-color: rgb(255, 255, 255)
    align-items: center
    justify-content:  center
    padding-bottom: 50px
    padding-top: 50px

.blog .maper
    background-image: url(../img/maybe_map.png)
    background-repeat: no-repeat
    background-size: auto 249px
    height: 249px
    width: 50%
    
.blog .black
    background-image: url(../img/blog.png)
    background-repeat: no-repeat
    background-size: 100% 100%
    min-height: 530px

.black h1
    color: white
    text-align: center
    padding-top: 15%
    font-weight: 200
    
.bloghref
    text-align: center
    margin-top: 80px
    
.footer
    background-image: url(../img/SmartObject.png)
    background-repeat: no-repeat
    background-position: center top
    min-height: 500px

.footer .menu
    display: flex
    flex-direction: row
    justify-content: space-around
    flex-wrap: wrap
    align-items: center
    font-size: 14px
    font-weight: 700
    
.footer .menu ul
    display: flex
    flex-wrap: wrap
    align-items: center
    min-height: 100px
    list-style-type: none
    
.footer .menu ul li
    margin-right: 20px
  
a
    text-decoration: none;
    color: rgb(209, 214, 217)

.logotips
    display: flex
    align-items: center

.rights
    color: #87949e
    
.footer .logo 
    margin-right: 5px
    width: 26px
    height: 26px
    background-image: url(../img/iconA.png)
    background-repeat: no-repeat
    display: inline-block
    
.popup
    position: fixed
    height: 100%
    width: 100%
    top: 0
    left: 0
    display: none
    opacity: 0
    transition: opacity 1.5s
    
    &.active
        opacity: 1
        transition: opacity 1.5s
        
.popup_bg
    background: rgba(0,0,0,0.4)
    position: absolute
    z-index: 1
    height: 100%
    width: 100%
	
	
.form
    position: relative
    margin: 0 auto
    width: 50%
    z-index: 2
    padding: 40px
    display: block
    border-radius: 5px
    background: rgba(255,255,255,1)
    
.textbox
    height: 50px
    width: 100%
    border-radius: 3px
    border: rgba(0,0,0,0.3) 2px solid
    box-sizing: border-box
    font-family: 'Open Sans', sans-serif
    font-size: 18px
    padding: 10px
    color: #17daa3
    margin-bottom: 30px

.message:focus,
.textbox:focus
    border: rgba(24,149,215,1) 2px solid
    color: #17daa3

.message
    background: rgba(255, 255, 255, 0.4)
    width: 100%
    height: 120px
    border: rgba(0,0,0,.3) 2px solid
    box-sizing: border-box
    font-size: 18px
    font-family: 'Open Sans', sans-serif
    border-radius: 3px
    display: block
    padding: 10px
    color: #17daa3
    margin-bottom: 30px
    overflow: hidden

/* Базовые стили кнопки */
.button
    height: 50px
    width: 49%
    border-radius: 5px
    box-sizing: border-box
    padding: 10px
    background: #17daa3
    color: #FFF
    font-family: 'Open Sans', sans-serif
    font-weight: 400
    font-size: 16px
    transition: background 0.8s
    cursor: pointer

.button:hover
    background: #009966
    
.cancel
    background: #ff6666

.cancel:hover
    background: #cc3333
    

@media(min-width: 481px) and (max-width: 626px)
    .header .slider_info h2
        font-size: 34px
        line-height: 34px
        padding-bottom: 10px
        width: 77%
        padding-left: 13%
        
    .header .slider_info h5    
        width: 77%
        padding-left: 13%
    
@media (max-width: 480px)
    .header
        min-width: 320px
    
    .header .menu
        justify-content: center
        
    .header .menu
        min-width: 320px
    
    .header .menu ul li
        margin-right: 14px
        
    .header .slider_info h2
        font-size: 30px
        line-height: 30px
        padding-bottom: 10px
        width: 77%
        padding-left: 13%
        
    .header .slider_info h5    
        width: 77%
        padding-left: 13%
        
    .about h1, .services h1, .team h1, .pricing h1
        margin: 0;
        font-size: 40px
        
    .about h5
        font-size: 18px
        
    .photo
        margin-left: 20%
        width: 55%
        
    .work .clause, .blog .clause
        width: 100%
    
    .clause a
        margin-left: 10%

        
    .clause
        width: 100%
        
    .clause h2
        margin-left: 10%
        font-size: 24px
        
        
    .clause p
        font-size: 18px
        margin-left: 10%
        width: 90%
    
    .clause2
        width: 100%
    
    .clause2 p, .clause2 a    
        margin-left: 20%
        
    .clause2 h2
        margin: 20%
        line-height: 10px
        
    .about_service p
        font-size: 18px
    
    .slider_black p
        width: 70%
        bottom: 113px
        
    .team .persona p
        font-size: 25px
    .team .persona:nth-child(2n), .team .persona:nth-child(2n+1)
        width: 50%
    
    .blog .articleMap
        padding-top: 0px
        
    .blog .maper
        margin-top: 20%
        width: 80%
        background-size: 100% auto
        
    .black h1
        margin-left: 3%
        font-size: 25px
        
    .form
        width: 80%
        
    .textbox
        font-size: 12px
        height: 30px
    
    .message
        font-size: 12px

@media (max-width: 618px)
    .about h4, .services h4, .team h4, .pricing h4
        line-height: 30px
        margin-left: 10%
        
@media (max-width: 350px)
    .header .menu ul li
        margin-right: 9px

@media(min-width: 920px) and (max-width: 1098px)
    .header .menu
        margin-left: 40%

@media(min-width: 551px) and (max-width: 919px)
    .header .menu
        margin-left: 30%

@media(min-width: 590px) and (max-width: 789px)
    .header .menu ul li
        margin-right: 20px
        
    .logotip
        left: 10%
        
@media(min-width: 481px) and (max-width: 750px)
    .form
        width: 65%
        
    .textbox
        font-size: 14px

    .message
        font-size: 14px
        
@media (min-width: 481px) and (max-width: 1023px)
    .photo
        width: 35%
        
@media (max-width: 589px)
    .logotip
        text-align: center
        display: block
        left: 0
    
    .slider
        top: 80px
    
    .form
        top: 50px
    
    .hamburger
      position: fixed
      display: block
      top: 0
      left: 0
      height: 50px
      width: 100%
      background: rgba(0, 0, 0, 0.8)
      overflow: hidden
      transition: all 0.5s ease-out, background 1s ease-out
      transition-delay: 0.3s
      z-index: 1

    .hamburger .burger-container
      position: relative
      display: inline-block
      height: 50px
      width: 50px
      cursor: pointer
      transform: rotate(0deg)
      transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99)
      user-select: none
      -webkit-tap-highlight-color: transparent
    
    .hamburger .burger-container #burger 
      width: 18px
      height: 8px
      position: relative
      display: block
      margin: -2px auto 0
      top: 50%
    
    .hamburger .burger-container #burger .bar 
      width: 100%
      height: 1px
      display: block
      position: relative
      background: #FFF
      transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99)
      transition-delay: 0s
    
    .hamburger .burger-container #burger .bar.topBar 
      transform: translateY(0px) rotate(0deg)

    .hamburger .burger-container #burger .bar.btmBar 
      transform: translateY(6px) rotate(0deg)
    
    .hamburger ul.titleul 
      position: relative
      display: block
      padding: 30px 65px 0
      list-style: none

    .hamburger ul.titleul li.titleul-item 
      border-bottom: 1px solid #333
      margin-top: 5px
      transform: scale(1.15) translateY(-30px)
      opacity: 0
      transition: opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99), -webkit-transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99)
      transition: transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99), opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99)
      transition: transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99), opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99), -webkit-transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99)
    
    
    .hamburger ul.titleul li.titleul-item:nth-child(1) 
      transition-delay: 0.49s

    .hamburger ul.titleul li.titleul-item:nth-child(2) 
      transition-delay: 0.42s

    .hamburger ul.titleul li.titleul-item:nth-child(3) 
      transition-delay: 0.35s

    .hamburger ul.titleul li.titleul-item:nth-child(4) 
      transition-delay: 0.28s

    .hamburger ul.titleul li.titleul-item:nth-child(5) 
      transition-delay: 0.21s

    .hamburger ul.titleul li.titleul-item:nth-child(6) 
      transition-delay: 0.14s
    
    .hamburger ul.titleul li.titleul-item a 
      display: block
      position: relative
      color: #FFF
      font-family: "Ek Mukta", sans-serif
      font-weight: 100
      text-decoration: none
      font-size: 22px
      line-height: 2.35
      font-weight: 200
      width: 100%

    .hamburger.titleul-opened 
      height: 100%
      background-color: #000
      transition: all 0.3s ease-in, background 0.5s ease-in;
      transition-delay: 0.3s

    .hamburger.titleul-opened .burger-container 
      transform: rotate(90deg)
    
    .hamburger.titleul-opened .burger-container #burger .bar 
      transition: all 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99)
      transition-delay: 0.2s

    .hamburger.titleul-opened .burger-container #burger .bar.topBar 
      transform: translateY(4px) rotate(45deg)

    .hamburger.titleul-opened .burger-container #burger .bar.btmBar 
      transform: translateY(3px) rotate(-45deg)

    .hamburger.titleul-opened ul.titleul li.titleul-item 
      transform: scale(1) translateY(0px)
      opacity: 1

    .hamburger.titleul-opened ul.titleul li.titleul-item:nth-child(1) 
      transition-delay: 0.27s

    .hamburger.titleul-opened ul.titleul li.titleul-item:nth-child(2) 
      transition-delay: 0.34s
    
    .hamburger.titleul-opened ul.titleul li.titleul-item:nth-child(3) 
      transition-delay: 0.41s

    .hamburger.titleul-opened ul.titleul li.titleul-item:nth-child(4) 
      transition-delay: 0.48s

    .hamburger.titleul-opened ul.titleul li.titleul-item:nth-child(5) 
      transition-delay: 0.55s

    .hamburger.titleul-opened ul.titleul li.titleul-item:nth-child(6) 
      transition-delay: 0.62s